<div class="wrapper">

  <div class="sidebar" id="sidebar-slide" data-color="purple" data-background-color="white">
    <!--
    Tip 1: You can change the color of the sidebar using: data-color="purple | azure | green | orange | danger"

    Tip 2: you can also add an image using data-image tag
  -->
    <div class="logo logo-padding">
      <a nohref class="simple-text logo-mini">
        MSD
      </a>
      <a nohref class="simple-text logo-normal">
        Animal Health (Phils), Inc
      </a>
    </div>
    <div class="sidebar-wrapper">
      <ul class="nav">
        <li class="nav-item active" *ngFor="let document of documentList;let i = index;">
          <a (click)="showSubFolder(i)" class="nav-link" nohref>
            <i class="material-icons">{{subfolderIndex == i ? 'remove' : 'add'}}</i>
            <p>{{document?.folderName.toUpperCase()}}</p>
          </a>
          <ul class="nav child-nav"
            *ngIf="subfolderIndex == i && document?.fileElements && document?.fileElements.length > 0">
            <li class="nav-item active" *ngFor="let file of document.fileElements;let i = index;">
              <a class="nav-link" (click)="downloadFile(file)" nohref>
                <i class="material-icons">content_copy</i>
                <p>{{file?.fileName}}</p>
              </a>
            </li>
            <!-- your sidebar here -->
          </ul>
        </li>
        <!-- your sidebar here -->
      </ul>
    </div>
  </div>
  <div class="main-panel">
    <div class="">
      <div class="container-fluid">
        <div class="">
          <div class="custom-container">
            <div class="row document-padding">
              <div class="col s12">
                <div class="card">
                  <div class="card-header card-header-primary">
                    <h2 class="card-title ">Documents Library</h2>
                  </div>
                  <div class="card-body">
                    <div class="table-responsive">
                      <table class="table">
                        <thead class=" text-primary">
                          <tr>
                            <th>
                              Download
                            </th>
                            <th>
                              File Name
                            </th>
                            <th>
                              Time Created
                            </th>
                            <th>
                              Size
                            </th>
                            
                            <th>
                              File Type
                            </th>
                          </tr>
                        </thead>
                        <tbody>
                          <ng-container *ngIf="subfolderIndex !== null">
                            <tr *ngFor="let file of documentList[subfolderIndex].fileElements;let i = index;">
                              <td class="text-primary" (click)="downloadFile(file)">
                                <!-- <button type="button" rel="tooltip" class="btn btn-success"> -->
                                  <i class="material-icons download">save_alt</i>
                              <!-- </button> -->
                              </td>
                              <td>
                                {{file?.fileName}}
                              </td>
                              <td>
                                {{file?.timeCreated}}
                              </td>
                              <td>
                                {{file?.size}}KB
                              </td>
                              
                              <td>
                                {{file?.contentType}}
                              </td>
                            </tr>
                          </ng-container>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="upload-container">
      <div class="custom-container">
        <div class="row">
          <div class="col s12 text-left">
            <div class="card">
              <div class="card-header card-header-primary">
                <h2 class="card-title ">Upload Files</h2>
              </div>
              <div class="card-body">
                <div class="table-responsive">
                  <table class="table table-upload">
                    <tbody>
                        <tr>
                          <td class="upload-button">
                            <div class="text-center fileinput fileinput-new">
                              <span class="btn btn-raised btn-round btn-rose btn-file">
                                <span class="fileinput-new">Select File</span>
                                <input type="file" id="file-upload" (change)="handleFileInput($event.target.files)" name="..." />
                             </span>
                            </div>
                          </td>
                          <td>
                            {{fileToUpload?.name}}
                          </td>
                          <td>
                            {{fileToUpload?.size ? fileToUpload?.size + 'KB' : ''}}
                          </td>
                          <td>
                            {{fileToUpload?.lastModified}}
                          </td>
                          <td>
                            {{fileToUpload?.type}}
                          </td>
                        </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
          <div class="col s12 text-center">
            <button type="submit" (click)="uploadFileToActivity()" class="btn btn-primary btn-round upload">Upload</button>
          </div>
        </div>
      </div>
    </div>

  </div>

</div>


