@import "../../../assets/scss/variables";



.header-title{
    color: white;
}

.header-documents{
    font-size: 16px;
    font-weight: 900;
}

.document-padding{
    padding-top: 20px;
}

.files-container{
    padding-top: 15px;
    background: white;
    border-bottom: 1px solid $third-color;
}

.file-sorting{
    background: $primary-color;
    padding: 5px 0;
    font-weight: 900;
    color: white;
}

.file-name{
    text-decoration: underline;
}

.date-list-padding{
    padding-top: 10px;
}

.document-header-padding{
    padding-bottom: 10px;
}

.child-subfolder-container{
    padding-left: 30px;
}

ul{
    padding: 0;
}

.upload-container{
    padding-top: 200px;

}

.drag-container{
    padding-top: 20px;
    height: 500px;
    width: 100%;
    border: 1px solid #B8B8B8;
    border-radius: 3px;
    color: #B8B8B8;
}

.bold-text{
    font-weight: 900;
}


.border-documents{
    border: 1px solid $third-color;
    border-bottom: 0;
}