@import "../../../assets/scss/variables";


img{
    width: 100%;
    height: auto;
}


.updates-padding{
    margin-top: 20px;
    border-radius: 5px;
    background: $fourth-color;
    padding: 0 15px;
    padding-bottom: 15px;
    color: $third-color;
}

h3{
    color: $third-color;
}

.card-body{
    font-size: inherit !important;
    line-height: inherit !important;
    @media only screen and (min-width: 992px) {
        font-size: 20px !important;
        line-height: 32px !important;
        color: $fifth-color;
    }
}


@media only screen and (min-width: 992px) {
    .category{
        font-size: 20px;
    }
}
