  <div class="mobile-only" id="menuToggle">
    <input type="checkbox" />
    <span></span>
    <span></span>
    <span></span>
    <ul id="menu">
      <a nohref><li>Home</li></a>
      <a nohref><li>Documents</li></a>
      <a nohref><li>Upload Files</li></a>
      <a nohref><li>Text Blast</li></a>
    </ul>
  </div>

<div class="container padding-header">
  <div class="row">
    <div class="col s2">
      <img src="/src/assets/images/logo.png">
    </div>
    <div class="col s2">
     <p class="menu-padding"><a nohref class="menu-anchor" routerLink="/">Home</a></p> 
    </div>
    <div class="col s2">
      <p class="menu-padding"><a nohref class="menu-anchor" routerLink="documents">Documents</a></p> 
    </div>
    <div class="col s2">
      <p class="menu-padding"><a nohref class="menu-anchor" routerLink="file-upload">Upload Files</a></p> 
    </div>
    <div class="col s2">
      <p class="menu-padding"><a nohref class="menu-anchor" routerLink="text-blast">Text Blast</a></p> 
    </div>
  </div>
</div>