<div class="wrapper">
  <div class="content">
    <div class="container-fluid">
      <div class="">
        <div class="row">
          <!-- <div class="col s12">
        <h1 class="header-title">Text Blast</h1>
      </div> -->
          <div class="card">
            <div class="col s12 text-blast-header">
              <div class="card-header card-header-primary">
                <h1 class="card-title">Text Blast</h1>
                <!-- <p class="category">{{data?.date}}</p> -->
              </div>
              <div class="card-body">
                <div class="row">
                  <div class="col s12">
                    <textarea id="textblast" placeholder="enter your message..." name="textblast" rows="20" cols="50">
                      </textarea>
                  </div>
                </div>
                <div class="row">
                  <div class="col s12 text-right">
                    <button class="btn btn-primary btn-round upload" (click)="postMessage()">
                      Send
                    </button>
                  </div>
                </div>
                <div class="row region-padding">
                  <div class="col s12">
                    <div class="btn-group">
                      <button type="button" (click)="showDropdown = !showDropdown" class="btn btn-primary dropdown">Choose a
                        Region: </button>
                      <button type="button" (click)="showDropdown = !showDropdown"
                        class="btn btn-primary dropdown dropdown-toggle dropdown-toggle-split" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                        <span class="sr-only">Choose a Region: </span>
                      </button>
                      <div class="dropdown-menu {{showDropdown ? 'show' : ''}}">
                        <a class="dropdown-item" (click)="showDropdown = !showDropdown" nohref>Cebu</a>
                        <a class="dropdown-item" (click)="showDropdown = !showDropdown" nohref>Bukidnon</a>
                        <a class="dropdown-item" (click)="showDropdown = !showDropdown" nohref>IloIlo</a>
                        <a class="dropdown-item" (click)="showDropdown = !showDropdown" nohref>Misamis Occidental</a>
                        <a class="dropdown-item" (click)="showDropdown = !showDropdown" nohref>South Cotabato</a>
                        <a class="dropdown-item" (click)="showDropdown = !showDropdown" nohref>Davao del Sur</a>
                      </div>
                    </div>

                  </div>
                </div>
                <!-- <div class="row" *ngFor="let contact of contactList; let i = index">
                  <div class="col s3">
                    <p>{{contact?.name}}</p>
                  </div>
                  <div class="col s3">
                    <div class="form-check">
                      <label class="form-check-label" for="sms{{i}}">
                        <input class="form-check-input" (change)="checkValue($event, 'sms', contact)" type="checkbox" value="" id="sms{{i}}">
                        SMS
                        <span class="form-check-sign">
                          <span class="check"></span>
                        </span>
                      </label>
                    </div>
                    <input class="sms-class" type="checkbox" (change)="checkValue($event, 'sms', contact)" id="sms{{i}}" />
                    <label for="sms{{i}}">SMS</label>
                  </div>
                  <div class="col s3">
                    <div class="form-check">
                      <label class="form-check-label" for="viber{{i}}">
                        <input class="form-check-input" type="checkbox" value="" id="viber{{i}}">
                        VIBER
                        <span class="form-check-sign">
                          <span class="check"></span>
                        </span>
                      </label>
                    </div>
                    <input class="viber-class" type="checkbox" id="viber{{i}}" />
                    <label for="viber{{i}}">VIBER</label>
                  </div>
                  <div class="col s3">
                    <div class="form-check">
                      <label class="form-check-label" for="email{{i}}">
                        <input class="form-check-input" (change)="checkValue($event, 'email', contact)" type="checkbox" value="" id="email{{i}}">
                        EMAIL
                        <span class="form-check-sign">
                          <span class="check"></span>
                        </span>
                      </label>
                    </div>
                    <input class="email-class" type="checkbox" (change)="checkValue($event, 'email', contact)"
                      id="email{{i}}" />
                    <label for="email{{i}}">EMAIL</label>
                  </div>
                </div> -->
                <div class="row">
                  <div class="col s12">
                    <div class="card">
                      <div class="card-header card-header-primary">
                        <h2 class="card-title ">Contacts</h2>
                      </div>
                      <div class="card-body">
                        <div class="table-responsive">
                          <table class="table">
                            <thead class=" text-primary">
                              <tr>
                                <th>
                                  Name
                                </th>
                                <th>
                                  SMS
                                </th>
                                <th>
                                  Viber
                                </th>
                                <th>
                                  Email
                                </th>
                              </tr>
                            </thead>
                            <tbody>
                              <ng-container>
                                <tr *ngFor="let contact of contactList; let i = index">
                                  <td>
                                    {{contact?.name}}
                                  </td>
                                  <td>
                                    <div class="form-check">
                                      <label class="form-check-label" for="sms{{i}}">
                                        <input class="form-check-input" (change)="checkValue($event, 'sms', contact)" type="checkbox" value="" id="sms{{i}}">
                                        <span class="form-check-sign">
                                          <span class="check"></span>
                                        </span>
                                      </label>
                                    </div>
                                  </td>
                                  <td>
                                    <div class="form-check">
                                      <label class="form-check-label" for="viber{{i}}">
                                        <input class="form-check-input" type="checkbox" value="" id="viber{{i}}">
                                        <span class="form-check-sign">
                                          <span class="check"></span>
                                        </span>
                                      </label>
                                    </div>
                                  </td>
                                  
                                  <td>
                                    <div class="form-check">
                                      <label class="form-check-label" for="email{{i}}">
                                        <input class="form-check-input" (change)="checkValue($event, 'email', contact)" type="checkbox" value="" id="email{{i}}">
                                        <span class="form-check-sign">
                                          <span class="check"></span>
                                        </span>
                                      </label>
                                    </div>
                                  </td>
                                </tr>
                              </ng-container>
                            </tbody>
                          </table>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

              </div>
            </div>

          </div>
        </div>
      </div>
    </div>

    <div class="custom-container textarea-padding">
      <!-- <div class="row">
    <div class="col s12">
      <textarea id="textblast" placeholder="enter your message..." name="textblast" rows="50" cols="50">
        </textarea>
    </div>
  </div> -->


    </div>
  </div>
</div>