<div class="bg-header">
  <div class="custom-container">
    <div class="row">
      <div class="col s12">
        <h1 class="header-title">Text Blast</h1>
      </div>
    </div>
  </div>
</div>

<div class="custom-container textarea-padding">
  <div class="row">
    <div class="col s12">
      <textarea id="textblast"  placeholder="enter your message..." name="textblast" rows="50" cols="50">
        </textarea>
    </div>
  </div>
  <div class="row">
    <div class="col s12 text-right">
      <button class="custom-button" (click)="postMessage()">
        Send
      </button>
    </div>
  </div>
  <div class="row" *ngFor="let contact of contactList; let i = index">
    <div class="col s3">
      <p>{{contact?.name}}</p>
    </div>
    <div class="col s3">
      <p><span><input type="checkbox" (change)="checkValue($event, 'sms', contact)"></span>SMS</p>
    </div>
    <div class="col s3">
      <p><span><input type="checkbox"></span>VIBER</p>
    </div>
    <div class="col s3">
      <p><span><input type="checkbox" (change)="checkValue($event, 'email', contact)"></span>EMAIL</p>
    </div>
  </div>
</div>