@import "../../../assets/scss/variables";


.textarea-padding{
    padding-top: 20px;
}


textarea{
    height: 300px;
}

span{
    margin-right: 10px;
}
.sms-class{
    &[type="checkbox"]:checked + label:after{
        background-color: $third-color !important;
    }
}

.viber-class{
    &[type="checkbox"]:checked + label:after{
        background-color: $rich-color !important;
    }
}

.email-class{
    &[type="checkbox"]:checked + label:after{
        background-color: $fourth-color !important;
    }
}
